.input-group {
	width: 50%;
}

body {
	background: url('./images/background.jpg');
	background-color: #191f3e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: auto;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.map-container {
	position: relative;
	vertical-align: middle;
	margin-top: 5%;
}

.search-form {
	margin-top: 10%;
}
.search-row {
	display: inline;
}

.header {
	background: 0;
	font-color: white;
	border: 0px solid;
	text-align: center;
}
.navbar-brand {
	text-align: center;
}

.landing {
	text-align: center;
}

.duration {
	margin-left: 40%;
	margin-right: 40%;
}
